In [9]:
import sqlite3

In [10]:
cnn = sqlite3.connect("pets.db", autocommit=False)
cnn

In [11]:
crs = cnn.cursor()
crs

In [14]:
crs.execute("""
create table if not exists pets (
    id integer primary key autoincrement,
    name text not null,
    type text not null,
    age integer,
    owner text
)
""")
# cnn.commit()

In [16]:
name = 'dorothy'

crs.execute("""
insert into pets(name, type, age, owner)
values(?,?,?,?)
""", (name, 'dog', 9, 'greg'))
cnn.commit()

In [17]:
for name in  ('suzy', 'casey', 'heidy'):

    crs.execute("""
    insert into pets(name, type, age, owner)
    values(?,?,?,?)
    """, (name, 'dog', 9, 'greg'))
    cnn.commit()

In [18]:
for name in  ('sandy', 'muffin', 'shadow'):

    crs.execute("""
    insert into pets(name, type, age, owner)
    values(?,?,?,?)
    """, (name, 'cat', 9, 'katie'))
    cnn.commit()

In [20]:
crs.execute("select * from pets")
rows = crs.fetchall()

for row in rows:
    print(row)

(2, 'dorothy', 'dog', 9, 'greg')
(3, 'suzy', 'dog', 9, 'greg')
(4, 'casey', 'dog', 9, 'greg')
(5, 'heidy', 'dog', 9, 'greg')
(6, 'sandy', 'cat', 9, 'katie')
(7, 'muffin', 'cat', 9, 'katie')
(8, 'shadow', 'cat', 9, 'katie')

In [21]:
type = 'cat'
crs.execute("select * from pets where type = ?", (type,))
rows = crs.fetchall()

for row in rows:
    print(row)

(6, 'sandy', 'cat', 9, 'katie')
(7, 'muffin', 'cat', 9, 'katie')
(8, 'shadow', 'cat', 9, 'katie')

In [23]:
crs.execute("select * from pets where type = ?", ('cat',))
row = crs.fetchone()
print(row)

(6, 'sandy', 'cat', 9, 'katie')

In [25]:
crs.execute("update pets set age = ? where name = ?", (11, 'sandy'))
cnn.commit()

In [26]:
crs.execute("delete from pets where type = ?", ('cat',))
cnn.commit()